/* color palette from <https://github.com/vuejs/theme> */
@import "tailwindcss";
@import "@nuxt/ui";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@theme static {
  --font-sans: "Nunito Sans", sans-serif;
  --font-mono: "Courier New", Courier, monospace;
  --font-heading: "Nunito Sans", sans-serif;
  --font-body: "Nunito Sans", sans-serif;
  --font-code: "Courier New", Courier, monospace;

  --sht-white-mute: #f2f2f2;
  --sht-lightpink: #FFCED6;
  --sht-pink: #F4798D;
  --sht-pinkhighlight:#f4798ede;
  --sht-pinkhighlight2: #f4798eb5;
  --sht-black: #181818;
  --sht-indigo: #2c3e50;
  --sht-text:  #410000;
  
  --color-white-mute: var(--sht-white-mute);
  --color-lightpink: var(--sht-lightpink);
  --color-pink: var(--sht-pink);
  --color-pinkhighlight: var(--sht-pinkhighlight);
  --color-pinkhighlight2: var(--sht-pinkhighlight2);
  --color-black: var(--sht-black);
  --color-indigo: var(--sht-indigo);
  --color-text: var(--sht-text);
  --color-background: var(--sht-lightpink);

  --color-heading: var(--sht-pink);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--sht-black);
    --color-background-soft: var(--sht-black-soft);
    --color-background-mute: var(--sht-black-mute);

    --color-border: var(--sht-divider-dark-2);
    --color-border-hover: var(--sht-divider-dark-1);

    --color-heading: var(--sht-text-dark-1);
    --color-text: var(--sht-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

:root {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  margin-left: 1rem;
  margin-right: 1rem;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
